<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mostrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mostrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let dato of datosClientes">
    <ion-header>
      <ion-card-header> {{dato.nombre}} </ion-card-header>
    </ion-header>

    <ion-card-content>
      {{dato.edad}}
    </ion-card-content>
  </ion-card>

  
</ion-content>
